<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rent.mytestapplication">

    <!-- To access Google+ APIs: -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".NestedScrollViewActivity" />
        <activity
            android:name=".CustomBehaviorActivity"
            android:taskAffinity=".bbbb" />
        <activity android:name=".ViewPagerActivity" />
        <activity android:name=".AnimActivity" />
        <activity android:name=".ButterKnifeActivity" />
        <activity android:name=".StableIDsActivity" />
        <activity android:name=".LinearListViewActivity" />
        <activity android:name=".FragmentSwitcherActivity" />
        <activity android:name=".PagerFragmentActivity" />
        <activity
            android:name=".mvp.MVPActivity"
            android:label="@string/title_activity_mvp"
            android:theme="@style/AppTheme" />
        <activity android:name=".TabBarActivity" />
        <activity android:name=".touchevent.TouchEventActivity" />
        <activity android:name=".touchevent.NestedScrollActivity" />
        <activity android:name=".aidl.AidlActivity" />
        <activity
            android:name=".aidl.ProcessActivity"
            android:process=":test" />
        <activity android:name=".retrofit.RetrofitActivity" />
        <activity android:name=".RxLifecycleActivity" />
        <activity android:name=".service.TestServiceActivity" />

        <service android:name=".service.TestService" />

        <activity android:name=".anim.BallFallingActivity" />
        <activity android:name=".anim.VectorActivity" />
        <activity android:name=".activityoptions.ActOptsActivity" />
        <activity android:name=".activityoptions.ActOptsSecondActivity" />
        <activity android:name=".nestedscroll.NestedScrollActivity" />
        <activity android:name=".TextImageSpanActivity" />
        <activity android:name=".anim.ReboundActivity" />
        <activity android:name=".BottomNavigationBarActivity"></activity>
    </application>

</manifest>